@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

.stopwatch {
  border: 3px solid #786f6f;
  padding: 5px 6px;
}

.contact-us-back {
  background-color: currentColor;
  font-family: 'PT Sans Caption', sans-serif;
}

.contact_background_wall {
  background: url('/images/contact_us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .1;
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -75px;
}

.home_icon {
  z-index: 10;
  cursor: pointer;
}

.background_wall.saved_set {
  height: 1100px;
}

#team_id {
  height: fit-content;
  margin-top: 5px !important;
}
