* {
  font-family: 'Poppins', sans-serif;
}
.stopwatch {
  box-shadow:  0 0 0.125rem 0.25rem #bababa3d !important;
  width: 50px;
  height: 50px;
}

.stopwatch div {
  margin-top: 13px;
}

.contact_background_wall {
  background: url('/images/contact_us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .1;
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -50px;
  z-index: -1;
}

.home_icon {
  z-index: 10;
  cursor: pointer;
}

.background_wall.saved_set {
  height: 1100px;
  opacity: .2;
}

.back-image1 {
  left: -2rem;
  z-index: -1;
}

.back-image2 {
  z-index: -1;
}

#team_id {
  height: fit-content;
  margin-top: 5px !important;
}

.schoolquiz_animation {
  background: url('/images/welcome.gif');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: none;
}

#ContinueQuiz .modal-dialog {
  max-width: 820px;
}

#ContinueQuiz img {
  width: 50%;
  margin: auto;
}

#StartQuiz .modal-dialog {
  max-width: 600px;
}

.quiz_options {
  font-weight: 600;
  height: fit-content;
  text-align: left;
}

#answer {
  cursor: pointer;
}

.winner_celeb {
  z-index: -1;
  opacity: .3;
}

.winner_cup {
  z-index: 1;
}

.winner_title {
  letter-spacing: 2px;
  font-size: 40px;
  z-index: 2;
}

.winner_team {
  font-size: 40px;
  letter-spacing: 2px;
  color: darkred;
  z-index: 2;
}

#question_media {
  width: 80%;
  height: 85%;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2500;
  background: white;
  opacity: .7;
  display: none;
}

#download_app {
  position: relative;
  z-index: 10;
}

.contact_image {
  z-index: 2;
}

/************Mobile Compatible****************/

@media screen and (max-width: 991px) {
  #question_media {
    width: 95%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  #download_app {
    display: none;
  }

  .contact_background_wall {
    margin-top: 45px;
  }

  .winner_page_image {
    width: 40px;
  }

  .mobile-contact-page {
    padding: 1.5rem 0 0;
  }

  .mobile-contact-page #title {
    font-size: 1.5rem;
  }

  .contact_image {
    margin: 0 auto !important;
    float: none !important;
  }
  
  .mobile-contact-page #name, .mobile-contact-page #designation,
  .mobile-contact-page #address, .mobile-contact-page #city_state {
    text-align: center;
  }

  .contact-details {
    margin-top: 20px !important;
  }

  .connect-info > .row > div:first-child {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  /******Play Quiz*******/

  .play-set {
    padding-top: 2rem !important;
  }

  .play-set > div > div:nth-child(3) {
    display: none;
  }

  .quiz-header.saved > div > div:nth-child(1) h2 {
    font-size: 1.15rem !important;
    margin: auto 0 !important;
    margin-left: 5px !important;
  }

  .ques_heading {
    font-size: 1.25rem !important;
  }

  #question_media {
    width: 70%;
	height: auto;
  }

  .cross {
    display: block !important;
    z-index: 2;
  }

  /******Results*******/

  .results > div > h5 {
    font-size: 1rem !important;
  }

  .results > div > h5:nth-child(1) {
    width: 0%;
  }

  .results > div > h5:nth-child(2) {
    width: 30%;
  }

  .results > div > h5:nth-child(3) {
    width: 35%;
  }


  /******Winners*******/

  .winner_title {
    font-size: 36px;
    letter-spacing: 2px;
  }

  .winner_cup {
    width: 100%;
    top: 12%;
    left: 0;
  }

  .winner-page > div {
    padding-left: 0;
    padding-right: 0;
  }

  .winner-page > div > div {
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
  }

  .winner_team {
    transform: initial;
    top: 52%;
    font-size: 32px;
    letter-spacing: 2px;
  }

  .winner_celeb {
    height: inherit;
  }

  .winner-header .invisible {
    display: none;
  }

  .home_icon {
    padding: 5px;
  }

  .team-points.mobile-screen {
    display: flex !important;
    z-index: 1;
  }

  .team-points.header {
    display: none !important;
  }

  .detail-section {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 420px) {
  #question_media {
    width: 85%;
	height: auto;
  }
}