@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

.stopwatch {
  box-shadow:  0 0 0.125rem 0.25rem #2933423d !important;
  padding: 5px 6px;
}

.contact-us-back {
  background-color: currentColor;
  font-family: 'PT Sans Caption', sans-serif;
}

.contact_background_wall {
  background: url('/images/contact_us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .1;
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -75px;
}

.home_icon {
  z-index: 10;
  cursor: pointer;
}

.background_wall.saved_set {
  height: 1100px;
  opacity: .2;
}

#team_id {
  height: fit-content;
  margin-top: 5px !important;
}

.schoolquiz_animation {
  background: url('/images/welcome.gif');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: none;
}

#ContinueQuiz .modal-dialog {
  max-width: 550px;
}

#ContinueQuiz img {
  width: 100%;
}

.quiz_options {
  font-weight: 600;
  height: fit-content;
}

#answer {
  cursor: pointer;
}

.winner_celeb {
  z-index: 1;
  opacity: .3;
}

.winner_cup {
  z-index: 1;
  width: 60%;
  left: 21%;
}

.winner_title {
  letter-spacing: 3px;
  font-size: 64px;
  z-index: 2;
  top: 100px;
  font-family: 'Londrina Shadow', cursive;
}

.winner_team {
  font-size: 64px;
  letter-spacing: 4px;
  color: darkred;
  z-index: 2;
  transform: translate(0, -160px);
  bottom: 0;
  font-family: 'Londrina Shadow', cursive;
}
